In [1]:
# y = a + b1x1 + b2x2 + ...  multiple linear regression

In [2]:
# y = a + bx linear regression

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
df = pd.read_csv("regression.csv",sep=";")

In [5]:
df

   area  number_of_room  building_age  distance_to_center    price
0   180               5            10                30.0   510000
1   225               4            18                10.0   600000
2   260               3             2                 1.0   750000
3   320               6            10                 0.5   990000
4   335               4             9                10.0   870000
5   345               5            14                 5.0   890000
6   355               3             0                 1.0   999000
7   400               4            10                 5.0  1000000

In [10]:
reg = linear_model.LinearRegression()
reg.fit(df[["area","number_of_room","building_age","distance_to_center"]],df["price"]) # First we gave the independent data,
#like the area,number_of_room then the price.
# we gave dependent variable

# let's predict
reg.predict([[230,4,10,15]])

C:\Users\16088\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([632684.45902283])

In [11]:
#In this example, our data set was small. In order for the machine to make realistic predictions,
#we need to feed it with big data.